<div class="modal fade" id="edit-contact-modal" tabindex="-1" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                  <input type="hidden" name="cid" id="cid">
                    <div class="row mb-3">
                      <label for="inputEmail3" class="col-sm-2 col-form-label">Name:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control edit-field" id="name" name="name">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Contact</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control edit-field" id="contact" name="contact">
                      </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control edit-field" id="email" name="email">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Address:</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control edit-field" id="addr" name="addr">
                        </div>
                    </div>
        
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> 
                  
            </div>
            
        </div>
    </div>
</div>