<div
  class="modal fade"
  id="view-contact-modal"
  tabindex="-1"
  aria-labelledby="view-contact"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col">Name:</div>
            <div class="col modal-data" id="name"></div>
          </div>
          <div class="row">
            <div class="col">Contact:</div>
            <div class="col modal-data" id="contact"></div>
          </div>
          <div class="row">
            <div class="col">Email:</div>
            <div class="col modal-data" id="email"></div>
          </div>
          <div class="row">
            <div class="col">Address:</div>
            <div class="col modal-data" id="addr"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
