<div class="modal fade" id="view-contact-modal" tabindex="-1" aria-labelledby="view-contact" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                    <div class="col">
                        Name: 
                    </div>
                    <div class="col modal-data" id="name">
                        Govind Parulekar
                    </div>
                    </div>
                    <div class="row">
                    <div class="col">
                        Contact: 
                    </div>
                    <div class="col modal-data" id="contact">
                        98748780
                    </div>
                    </div>
                    <div class="row">
                    <div class="col">
                        Email: 
                    </div>
                    <div class="col">
                    <div class="col modal-data" id="email">
                        Govind Parulekar
                    </div>
                    </div>
                    <div class="row">
                    <div class="col">
                        Address: 
                    </div>
                    <div class="col modal-data" id="addr">
                        Govind Parulekar
                    </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>