body{
    height: 100vh;
    padding-top: 50px;
}

.card{
    height: 500px;
    max-height: 70%;
    margin: auto;
    
}
.card-body{
    height: 100%;
}

#no-contacts-msg{
    position: absolute;
    top:46%;
    left:20%
}
#add-contact{
    width: 45px;
    height: 45px;
    position: sticky;
    top: 74%;
    left: 74%;
    bottom: 10%;
}

.list-group{
    height: 90%;
    position: relative;
    
    overflow-y: auto;

}
.list-group-item{
    padding: 10px 0;
}
