body{
    height: 100vh;
    padding-top: 50px;
}

.card{
    height: 500px;
    max-height: 70%;
    margin: auto;
    
}
.card-body{
    height: 100%;
}

#no-contacts-msg{
    position: absolute;
    top:46%;
    left:20%
}
#add-contact{
    width: 45px;
    height: 45px;
    position: sticky;
    top: 74%;
    left: 74%;
    bottom: 10%;
}

.list-group{
    height: 90%;
    position: relative;
    
    overflow-y: auto;

}
.list-group-item{
    padding: 10px 0;
    position: relative;
}
.list-group-item:hover{
    cursor: pointer;
}
.list-group-item:hover .contact-action-cont{
    visibility: visible;
    
}

.action img{
    width: 20px;
    height: 20px;
}

.action{
    padding-right: 15px;
}
.contact-action-cont{
    visibility: hidden;
}

#view-contact-modal .row{
    padding-bottom: 20px;
}

/* For Webkit (Chrome, Safari, etc.) */
/* width */
::-webkit-scrollbar {
    width: 5px;
    visibility: hidden;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e0e0e0;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  